<h1>Visualização de Produto</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @product.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @product.description %>
  </li>

  <li>
    <strong>Category:</strong>
    <%= @product.category %>
  </li>

</ul>

<span><%= link "Editar", to: Routes.product_path(@conn, :edit, @product) %></span> |
<span><%= link "Voltar", to: Routes.product_path(@conn, :index) %></span>
